@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

$bg_color: #fff;
$max-width: 1448px;
$row-padding: 0 5px;
$font-size: 14px;

body {
	background-color: $bg_color;
	font-family: Oswald;
	font-size: 14px;
	margin: 0;
	/*For pixel perfect*/
	overflow: hidden;
	div {
		box-sizing: border-box;
	}
}

.container {
	max-width: $max-width;
	padding: 0 10px;
	.row {
		max-width: 1172px;
		margin: 0 auto;
		padding: $row-padding;
	}
}

.black-block {
	background-color: #282828;
}

.grey-block {
	background-color: #f5f5f5;
}
