footer {
	font-family: Oswald Light;
	position: relative;

	.container {
		position: relative;
		text-align: center;
		padding: 0;
		padding-top: 85px;
		padding-bottom: 55px;
	}
	.back-to-top {
		cursor: pointer;
		position: relative;
		display: block;
		text-align: right;
		right: 0;
		padding-right: 26px;
		.fa-chevron-up {
			font-weight: 300;
		    font-size: 11px;
		    position: absolute;
		    top: 8px;
    		right: 47px;
		}
		.text {
			padding-top: 2px;
    		display: block;
		}
	}
}