header {
	padding-top: 15px;

	.black-block {
		margin-top: 10px;
	}
	.logo-block {
		.title {
			color: #aaaaaa;
			font-family: PT_Serif Italic;
			display: inline-block;
			font-size: 20px;
		    margin-left: 5px;
		    letter-spacing: -0.9px;
		}
	}
	.logo {
		display: inline-block;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 50px;
		color: #eb3c00;
		margin: 0;
		letter-spacing: 1px;
	}
	.right-block {
		display: flex;
		flex-direction: row;
	    justify-content: flex-end;
	    align-items: center;

		.login-block {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			font-family: PT_Serif Italic;
			margin-right: 35px;
		    color: #282828;
		    letter-spacing: 0.7px;

		    h5 {
		    	margin: 0;
		    }
		}
		.fa-key {
			display: flex;
		    width: 13px;
		    height: 13px;
		    margin-top: -3px;
		    margin-right: 10px;
		    color: #ee4400;
		}
		.contact-me {
			background-color: #ee4400;
			border: none;
			outline: none;
			font-family: PT_Serif Italic;
			color: #fff;
			padding: 14px 55px;
		    letter-spacing: 0px;
		    font-size: 13px;

		    &:hover {
		    	background-color: #282828;
		    	transition:all .3s ease;
		    }
		}
	}

	nav.menu {
		ul {
			padding: 0;
			display: flex;
			margin: 0;
			li {
				display: inline;
				padding: 21px 17px;
				cursor: pointer;
				&.active {
					background-color: #eb3c00;
				}
				&:hover {
					background-color: #ee4400;
    				transition:all .3s ease;
				}
				a {
					color: #fff;
					text-decoration: none;
					font-size: 20px;
    				letter-spacing: 0.5px;
				}
			}
		}
	}

	.search-block {
		position: relative;
		.search {
			&::placeholder{
				color: #e0e0e0;
			}

			text-transform: uppercase;
		    padding: 10px 13px;
		    font-family: inherit;
		    width: 270px;
		    border: none;
		    letter-spacing: 0.8px;
		}
		.fa-search {
			font-size: 18px;
			position: absolute;
			top: 11px;
			right: 12px;
			color: #989a9e;
		}
	}

	.head_righ>div{
		display:block;
		float:left
	}
	.head-mobile{
		display: none;
		top: 0px;
		width:70px;
		height:70px;
		background-color:#ee4400;
		cursor:pointer;
		position:absolute;
		right: 0;
		padding-top:21px;
		z-index:2;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;

		span{
			font-family:LatoBold;
			font-style:normal;
			font-weight:700;
			font-size:8px;
			line-height:12px;
			text-align:center;
			letter-spacing:.05em;
			text-transform:uppercase;
			color:#7edaee;
			display:block
		}

		&:before {
			position:absolute;
			top:36px;
			left:23px;
			display:block;
			height:1px;
			width:24px;
			background:#fff;
			-webkit-transition:all .3s ease;-o-transition:all .3s ease;
			transition:all .3s ease;
			content:'';
		}

		&:after {
			position:absolute;
			top:39px;
			left:23px;
			display:block;
			height:5px;
			width:24px;
			border-top:1px solid #fff;-webkit-transition:all .3s ease;-o-transition:all .3s ease;
			transition:all .3s ease;content:'';
		}

		&:hover{
			background:#282828;

			span {
				color: #ee4400;
			}
			&:before {
				width:19px;
			}	
			&:after {
				width:9px
			}	
		}


		&.menu-opened {
			span {
				display:none;
			}

			&:before {
				width:21px;
				height:1px;
				background:#afafaf;
				-webkit-transform:rotate(135deg);
				-ms-transform:rotate(135deg);
				transform:rotate(135deg)
			}

			&:after {
				width:21px;
				height:1px;
				background:#afafaf;
				-webkit-transform:rotate(45deg);
				-ms-transform:rotate(45deg);
				transform:rotate(45deg);
				border:none;
				top:36px;
				left:24px
			}
		}

		@media screen and (max-width: 768px){
			&:hover {
				background-color: #ee4400;
				span {
					color: #7edaee;
				}
				&:before, &:after {
					width:24px;
				}
			}
		}
	}

	.container {
		&:first-child {
			margin-bottom: 9px;
			.right-block {
				padding-bottom: 7px;
			}
		}
	}

	.menu-box {
		overflow-y: auto;
		padding-bottom: 10px;
		transform: translate3d(100%, 0,0);
		right: 0;
		top: 0;
		position: fixed;
	    padding-top: 5px;
    	padding-left: 20px;
	    background-color: #282828;
	    width: 300px;
	    z-index: 1;
		transition:all .3s ease;
		height: 100vh;

		span {
			font-size: 40px;
			color: #ee4400;
		}

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			padding-left: 0;
    		margin-top: 20px;
    		color: #fff;
    		li{ 
    			width: 265px;
    			&.menu-item {
	    			padding: 15px 0;
	    			font-size: 25px;
	    			cursor: pointer;
	    			&.active {
	    				padding-left: 5px;
	    				background-color: #ee4400;
	    			}

	    			&.menu-item:hover {
	    				padding-left: 5px;
	    				background-color: #ee4400;
	    				transition:all .3s ease;
	    			}
	    		}
	    		&.search-item {
	    			width: 270px;
	    			padding-bottom: 20px;
	    		}
    		}
    		a {
    			text-decoration: none;
    		}
		}

		.search-block {
			.search {
				opacity: 1;
				width: 270px;
			}
		}

		.login-block {
			display: flex;
			flex-direction: row;
			cursor: pointer;
			padding-bottom: 20px;
			h5 {
				margin: 0;
			}
			font-size: 25px;
			i {
				margin-right: 10px;
				margin-top: 7px;
    			font-size: 20px;
				color: #ee4400;
			}
		}

		.contact-me {
			background-color: #ee4400;
			border: none;
			outline: none;
			font-family: PT_Serif Italic;
			color: #fff;
			padding: 14px 55px;
		    letter-spacing: 0px;
		    font-size: 13px;
		    box-sizing: border-box;
		    border: 2px solid #ee4400;
		    width: 270px;

		    &:hover {
		    	border: 2px solid #fff;
		    	transition:all .3s ease;
		    }
		}

		
		&.cssmenu-o {
			transform: translate3d(0, 0,0);
			transition:all .3s ease;
		}


	}

	@media screen and (max-width: 768px){
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		width: 100vw;
		z-index: 100;
		padding-top: 10px;
		padding-bottom: 7px;
		.logo {
			font-size: 36px;
		}
		.logo-block {
			p.title {
				margin-bottom: 0;
				margin-top: 0;
				font-size: 16px;
			}
		}
		
		.container{
			&.black-block {
				display: none;
			}
		}
		.left-block {
			padding-right: 60px;
		}
		.right-block {
			display: none;
		}
		.head-mobile {
			display: block;
		}
	}

	@media screen and (min-width: 576px) and (max-width: 920px){
		.search-block {
			.fa-search {
				color: #fff;
			}
			.search {
				width: 0;
				opacity: 0;
			}
		}
	}
	@media screen and (max-width: 576px) {
		.right-block {
			flex-direction: row-reverse;
			.contact-me {
				margin-right: 10px;
			}
		}
	}

	@media screen and (max-width: 350px) {
		padding-bottom: 1px;
		.logo-block {
			.logo {
				line-height: 36px;
			}
			p.title {
				margin-left: 0;
				line-height: 16px;
			}
		}
	}
}

.blur-page {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	background-color: #000;
	transition:all .3s ease;
	&.opened {
		opacity: 0.7;
		display: block;
		transition:all .3s ease;
	}
}

body {
	&.menu-open {
		overflow: hidden;
	}
}

