header {
	padding-top: 15px;

	.logo-block {
		.title {
			color: #aaaaaa;
			font-family: PT_Serif Italic;
			display: inline-block;
			font-size: 20px;
		    margin-left: 5px;
		    letter-spacing: -0.9px;
		}
	}
	.logo {
		display: inline-block;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 50px;
		color: #eb3c00;
		margin: 0;
		letter-spacing: 1px;
	}
	.right-block {
		display: flex;
		flex-direction: row;
	    justify-content: flex-end;
	    align-items: center;

		.login-block {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			font-family: PT_Serif Italic;
			margin-right: 35px;
		    color: #282828;
		    letter-spacing: 0.7px;
		}
		.fa-key {
			display: flex;
		    width: 13px;
		    height: 13px;
		    margin-top: -3px;
		    margin-right: 10px;
		    color: #ee4400;
		}
		.contact-me {
			background-color: #ee4400;
			border: none;
			outline: none;
			font-family: PT_Serif Italic;
			color: #fff;
			padding: 14px 55px;
		    letter-spacing: 0px;
		    font-size: 13px;
		}
	}

	nav.menu {
		ul {
			padding: 0;
			display: flex;
			margin: 0;
			li {
				display: inline;
				padding: 21px 17px;
				&.active {
					background-color: #eb3c00;
				}
				a {
					color: #fff;
					text-decoration: none;
					font-size: 20px;
    				letter-spacing: 0.5px;
				}
			}
		}
	}

	.search-block {
		position: relative;
		.search {
			&::placeholder{
				color: #e0e0e0;
			}

			text-transform: uppercase;
		    padding: 10px 13px;
		    font-family: inherit;
		    width: 270px;
		    border: none;
		    letter-spacing: 0.8px;
		}
		.fa-search {
			font-size: 18px;
			position: absolute;
			top: 11px;
			right: 12px;
			color: #989a9e;
		}
	}

	.container {
		&:first-child {
			margin-bottom: 9px;
			.right-block {
				padding-bottom: 7px;
			}
		}
	}
}